<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}DIGESTION TIME!{{else}}EAT YOUR BURGER!{{/if}}
	</button>
    <button class="delete-burger" data-id="{{this.id}}">
        delete 
    </button>
</li>
